<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
                <img alt="PhotoStore by RedMoses" class="img-responsive text-center" src="modules/core/img/brand/logo.png"
                     style="max-width: 50%; margin-left: auto;margin-right: auto"/>
            </div>
        </div>
        <div class="row">
            <p class="lead">
                A photo store built with MeanJS
            </p>
        </div>
        <div class="row">
            <a href="/#!/moments" class="btn btn-success">Shared moments</a>
            <a href="/#!/signup" class="btn btn-default">Register</a>
            <a href="https://github.com/redmoses/photostore" target="_blank" class="btn btn-default">View on Github</a>
        </div>
    </div>

</section>
