<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
                <img alt="PhotoStore by RedMoses" class="img-responsive text-center"
                     src="modules/core/img/brand/logo.png"
                     style="max-width: 50%; margin-left: auto;margin-right: auto"/>
            </div>
        </div>
        <div class="row">
            <p class="lead">
                A photo store built with MeanJS
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="/#!/moments" class="btn btn-success">
                    <span class="glyphicon glyphicon-share"></span>
                    &nbsp;Shared moments
                </a>
                <a href="/#!/signin" class="btn btn-default">
                    <span class="glyphicon glyphicon-log-in"></span>
                    &nbsp;Sign in
                </a>
                <a href="https://github.com/redmoses/photostore" target="_blank" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                    &nbsp;View on Github
                </a>
            </div>
        </div>
    </div>

</section>
