.thumbnail {
    margin-left: 5px;
    border-spacing: 5px;
    width: 220px;
}

.thumbnail a>img, .thumbnail>img {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

.jumbotron {
    background-color: transparent;
}

@media (max-width: 768px) {
    .thumbnail{
        width: auto;
    }
}
