.thumbnail {
    margin-left: 5px;
    margin-bottom: 5px;
    border-spacing: 5px;
    width: 220px;
}

.thumbnail a>img, .thumbnail>img {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

.jumbotron {
    background-color: #FFFFFF;
}

.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: white;
    cursor: inherit;
    display: block;
}

@media (max-width: 768px) {
    .thumbnail{
        width: auto;
    }
}
