<div class="modal-dialogue" data-ng-controller="MomentsController">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="$close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Share a moment</h3>
    </div>
    <form class="form-horizontal" data-ng-submit="create(this)" enctype="multipart/form-data"
          method="post" novalidate>
        <div class="modal-body">
            <label class="control-label" for="title">A short description</label>

            <div class="controls">
                <input type="text" data-ng-model="title" id="title" class="form-control"
                       placeholder="Description"
                       required>
                <input type="hidden" data-ng-model="photo" id="photo" class="form-control"
                       placeholder="Photo URL" required>
            </div>
            <div class="" data-ng-show="message != ''">
                {{message}}&nbsp;
                <a href="#" class="thumbnail">
                    <img src="{{ photo }}" class="img-thumbnail">
                </a>
            </div>
            <br/>
            <div class="controls">
                <input id="upload" name="upload" data-ng-model="upload"
                       type="file" class="form-control" file-model="momentPhoto"
                       ng-disabled="uploading">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-share"></span>
                Share
            </button>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>
    </form>

</div>
