<div class="modal-dialogue" data-ng-controller="MomentsController">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="$close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Edit Moment</h3>
        <hr/>
    </div>
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <div class="modal-body">
            <!--<input type="hidden" data-ng-model="moment.photo" id="photo" class="form-control"-->
                   <!--placeholder="Photo URL" required>-->

            <div class="col-md-12">
                <div class="alert alert-success" role="alert" data-ng-show="message != ''" data-ng-bind="message"></div>
                <img src="{{ moment.photo }}" class="img-thumbnail" data-ng-bind="moment.photo">
                <hr/>

            </div>

            <div class="input-group">
                <input type="text" data-ng-model="moment.title" id="title" class="form-control"
                       placeholder="Description"
                       required>

                <span class="btn btn-default btn-file input-group-addon">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <input id="upload" name="upload" data-ng-model="upload"
                           type="file" class="form-control" file-model="momentPhoto"
                           ng-disabled="uploading">
                </span>
            </div>

            <br/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" data-ng-click="$close()">
                <span class="glyphicon glyphicon-save"></span>
                Save
            </button>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>
    </form>

</div>
