<section data-ng-controller="MomentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Moments</h1>
    </div>
    <!--<div class="list-group">-->
        <!--<a data-ng-repeat="moment in moments" data-ng-href="#!/moments/{{moment._id}}" class="list-group-item">-->
			<!--<small class="list-group-item-text">-->
				<!--Posted on-->
				<!--<span data-ng-bind="moment.created | date:'medium'"></span>-->
				<!--by-->
				<!--<span data-ng-bind="moment.user.displayName"></span>-->
			<!--</small>-->
			<!--<h4 class="list-group-item-heading" data-ng-bind="moment.title"></h4>-->
        <!--</a>-->
    <!--</div>-->
    <div class="row">
        <div class="col-sm-6 col-md-4" data-ng-repeat="moment in moments">
            <div class="thumbnail">
                <img src="{{ moment.photo }}" data-ng-click="openLightBox(moment.photo, moment.title)">
                <div class="caption">
                    <h3>{{ moment.title }}</h3>
                    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == moment.user._id))">
                        <a class="btn btn-primary" href="/#!/moments/{{moment._id}}/edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-primary" data-ng-click="remove(moment);">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
            <small>
                <em class="text-muted">
                    Posted on
                    <span data-ng-bind="moment.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="moment.user.displayName"></span>
                </em>
            </small>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!moments.$resolved || moments.length">
    	No Moments yet, why don't you <a href="/#!/moments/create">create one</a>?
    </div>
</section>
